<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodbird.demo.mapper.ActIdUserMapper">
  <resultMap id="BaseResultMap" type="com.foodbird.demo.domain.ActIdUser">
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
    <result column="FIRST_" jdbcType="VARCHAR" property="first" />
    <result column="LAST_" jdbcType="VARCHAR" property="last" />
    <result column="EMAIL_" jdbcType="VARCHAR" property="email" />
    <result column="PWD_" jdbcType="VARCHAR" property="pwd" />
    <result column="PICTURE_ID_" jdbcType="VARCHAR" property="pictureId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID_, REV_, FIRST_, LAST_, EMAIL_, PWD_, PICTURE_ID_
  </sql>
  <select id="selectByExample" parameterType="com.foodbird.demo.domain.ActIdUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ACT_ID_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ACT_ID_USER
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ACT_ID_USER
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.foodbird.demo.domain.ActIdUserExample">
    delete from ACT_ID_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.foodbird.demo.domain.ActIdUser">
    insert into ACT_ID_USER (ID_, REV_, FIRST_, 
      LAST_, EMAIL_, PWD_, PICTURE_ID_
      )
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{first,jdbcType=VARCHAR}, 
      #{last,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{pictureId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.foodbird.demo.domain.ActIdUser">
    insert into ACT_ID_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="rev != null">
        REV_,
      </if>
      <if test="first != null">
        FIRST_,
      </if>
      <if test="last != null">
        LAST_,
      </if>
      <if test="email != null">
        EMAIL_,
      </if>
      <if test="pwd != null">
        PWD_,
      </if>
      <if test="pictureId != null">
        PICTURE_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="first != null">
        #{first,jdbcType=VARCHAR},
      </if>
      <if test="last != null">
        #{last,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pictureId != null">
        #{pictureId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.foodbird.demo.domain.ActIdUserExample" resultType="java.lang.Long">
    select count(*) from ACT_ID_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ACT_ID_USER
    <set>
      <if test="record.id != null">
        ID_ = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rev != null">
        REV_ = #{record.rev,jdbcType=INTEGER},
      </if>
      <if test="record.first != null">
        FIRST_ = #{record.first,jdbcType=VARCHAR},
      </if>
      <if test="record.last != null">
        LAST_ = #{record.last,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL_ = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null">
        PWD_ = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureId != null">
        PICTURE_ID_ = #{record.pictureId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ACT_ID_USER
    set ID_ = #{record.id,jdbcType=VARCHAR},
      REV_ = #{record.rev,jdbcType=INTEGER},
      FIRST_ = #{record.first,jdbcType=VARCHAR},
      LAST_ = #{record.last,jdbcType=VARCHAR},
      EMAIL_ = #{record.email,jdbcType=VARCHAR},
      PWD_ = #{record.pwd,jdbcType=VARCHAR},
      PICTURE_ID_ = #{record.pictureId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodbird.demo.domain.ActIdUser">
    update ACT_ID_USER
    <set>
      <if test="rev != null">
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="first != null">
        FIRST_ = #{first,jdbcType=VARCHAR},
      </if>
      <if test="last != null">
        LAST_ = #{last,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL_ = #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        PWD_ = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="pictureId != null">
        PICTURE_ID_ = #{pictureId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodbird.demo.domain.ActIdUser">
    update ACT_ID_USER
    set REV_ = #{rev,jdbcType=INTEGER},
      FIRST_ = #{first,jdbcType=VARCHAR},
      LAST_ = #{last,jdbcType=VARCHAR},
      EMAIL_ = #{email,jdbcType=VARCHAR},
      PWD_ = #{pwd,jdbcType=VARCHAR},
      PICTURE_ID_ = #{pictureId,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>